body 
{
    background: #fff2f6;
    color: #0E0E0E;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Lora', serif;
    
}

article, header {
    width: 80%;
    max-width:800px;
    margin: auto;
}

img, {
    display: block;
    padding: 0;
    max-width: 100%;
}


h2 {
    color: #E97FA3;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.027rem;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
}

h1 {
    font-size: 3.027rem;
    color:#B0333A;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 5rem;
}

p, {
    line-height: 1.5;
    margin-bottom: 2.5rem;
    font-size: 16px;
    font-family: 'Lora', serif;
}

blockquote {
    line-height: 1.5;
    margin-bottom: 1.5rem;
    font-size: 16px;
    font-family: 'Lora', serif;
    hanging-punctuation: first;
    text-indent: -0.7;
    color: #B0333A;
}

cite {
    font-size: ;
}

header h2 {
    font-size: 2.25;
    font-style: italic;
    font-family: 'Ubuntu', sans-serif;
    color:  #E97FA3;
}


a {
    color:#0E0E0E;
    text-decoration: none;
}

a {
    hover:
}



nav {
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background: #E97FA3;
    padding: 2rem;
    font-size: 0.8rem;
}

nav ul{
    text-align: right;

}


av a:link {
    color: #0E0E0E;
}

nav ul li {
    display: inline;
    margin: 15px;
}

nav a:hover {
    boarder-bottom: one;
    transition: all 0.3s ease-in-out;
    color: #090707;
}

footer {
    background:#E97FA3;
    text-align: centre;
    font-size: 0.8rem;
    color:#0E0E0E;
    padding: 4rem 0 3rem 0;
    margin-top: 4rem;
}

footer p {
    margin: 0 12rem;
    
}

#mydiv {
    background-color: #E97FA3;

}

